@import './game.css';
@import './controls.css';

@font-face{
    font-family: 'pixel-font';
    src: url('../assets/fonts/uni0553-webfont.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #3D4053;
}

